.footer{
    background: #002529;
    padding: 48px 0 48px 0;
    &__wrapper{
        display: flex;
    }
    &__content{
        display: flex;
        gap: 125px;
        width: 50%;
        flex: 1;
    }
    &__collection{
        display: flex;
        gap: 40px;
    }
    &__item{
        font-size: 18px;
        color: #ffffff;
        font-weight: 400;
        margin-top: 22px;
    }
    .collection{
        line-height: 2;
        color: #ffffff8c;
        font-weight: 400;
        cursor: pointer;
    }
    &__box{
        p{
            font-size: 16px;
            margin-top: 30px;
            color: #ffffffab;
            cursor: pointer;
            font-weight: 200;
        }
    }
    &__icon{
        display: flex;
        align-items: end;
        justify-content: end;
        gap: 8px;
        i{
            color: #ffffff;
            margin-bottom: 51px;
        }
    }
}
@media (max-width:850px) {
    .footer{
        &__wrapper{
            display: flex;
            width: 100%;
            flex-direction: column;
        }
        &__content{
            width: 100%;
            display: flex;
            justify-content: space-between;

        }
        &__box{
            p{
                display: flex;
                justify-content: end;
                margin-top: 0;
            }
        }
        &__icon{
            display: flex;
            align-items: start;
            justify-content: start;
            i{
                margin-bottom: 0;
            }
        }
        
    }
    
}


@media (max-width:500px) {
    .footer{
        .item{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }
        &__content{
            display: flex;
            flex-direction: column;
            gap: 15px;
            align-items: center;
            justify-content: center;
        }
        &__box{
            p{
                display: flex;
                align-items: center;
                justify-content: center;
                text-align: center;
                margin-top: 10px
            }
        }
        &__icon{
            display: flex;
            gap: 10px;
            justify-content: center;
            margin-top: 15px;
        }
    }
    
}