header{
    width: 100%;
    background: #014E56;
    padding-top: 77px;
    padding-bottom: 129px;
    .navbar{
        display: flex;
        gap: 80.5px;
        align-items: center;
        // border: 1px solid red;
        &__collection{
            display: flex;
            gap: 40px;
            align-items: center;
            flex: 1;
            button{
                background: inherit;
                width: 153px;
                height: 50px;
                border-radius: 25px;
                color: #fff;
                font-weight: 300;
                cursor: pointer;
            }
        }
        .show{
            left: 0;
        }
        &__item{
            color: #fff;
            font-weight: 300;
            font-size: 18px;
        }
        &__menu{
            color: #fff;
            padding-right: 5px;
            display: none;
        }
    }
}

@media (max-width:800px) {
    .navbar{
        display: flex;
        justify-content: space-between;
        &__collection{
            position: fixed;
            top: 0;
            left: -350px;
            width: 350px;
            background: #2C6269;
            color: #000;
            height: 100vh;
            flex-direction: column;
            padding: 30px;
            transition: .5s;
            button{
                padding: 9px 24px;
                font-size: 13px;
            }
        }
        &__menu{
            display: block;
        }
    }
    
}
@media (max-width:450px) {
    .navbar{
        &__collection{
            width: 60%;
        }
    }
    
}